/data
wandb/
__pycache__/
*.pyc
*.so
experiments/exp*/
kinecmamba/data/
kinecmamba/kernels/build/
kinecmamba/kernels/selective_scan/build/
kinecmamba/__pycache__/
kinecmamba/kernels/selective_scan/selective_scan.egg-info/
*.egg-info/
kinecmamba/.github/
kinecmamba/.gitignore
kinecmamba/LICENSE
kinecmamba/README.md
kinecmamba/RELEASE_v1.0.0.md
kinecmamba/configs/pose3d/MB_ft_h36m.yaml
kinecmamba/configs/pose3d/MB_ft_h36m_global.yaml
kinecmamba/configs/pose3d/MB_ft_h36m_global_lite.yaml
kinecmamba/configs/pose3d/MB_train_h36m.yaml
kinecmamba/configs/pose3d/PoseMamba_train_h36m_B.yaml
kinecmamba/configs/pose3d/PoseMamba_train_h36m_L.yaml
kinecmamba/convert_img2video.py
kinecmamba/demo.sh
kinecmamba/eval.sh
kinecmamba/train.sh
kinecmamba/infer_wild.py
kinecmamba/vis.py
kinecmamba/requirements.txt
kinecmamba/sample_video.gif
kinecmamba/docs/
kinecmamba/hf-space/
kinecmamba/notebooks/
kinecmamba/pose3d/
kinecmamba/scripts/
kinecmamba/tools/
